@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
}

a {
    text-decoration: none;
}

ul li {
    display: inline;
}

ul li a{
    color: #fff;
}

.container {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: auto;
}

header{
    padding: 2rem;
}

header h1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

header .hero-text{
    color: var(--primary-color);
}

.hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem 0;
    border-bottom-left-radius: 1rem;
}

nav div a{
    color: #fff;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.right-menu{
    text-align: right;
}

nav ul.right-menu li a{
    padding: 1rem;
    color: #fff;
}

.link-active{
    font-weight: bold;
}

.dark-background {
    background-color: #f4f4f4;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.btn-secondary {
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

footer{
    background-color: var(--primary-color);
    color: #fff;
    border-top-left-radius: 1rem;
}

footer div.footer-center{
    text-align: center;
    font-weight: bold;
}

footer ul.footer-center{
    text-align: center;
}


footer ul.footer-center li {
    padding: 0 1rem;
}