@import url("https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171923;
  color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
}

p {
  font-size: 1.5rem;
}

.nav-menu {
  background-color: rgba(23, 25, 35, 0.7);
  backdrop-filter: blur(20px) saturate(1.7);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 2rem;
}

.nav-menu .nav-link {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1.2rem;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

.hero-text h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 6rem;
  font-weight: 400;
}

.hero-text h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  font-weight: 400;
}

.hero-text p {
  text-align: center;
  margin: 2rem 0 3rem;
  width: 600px;
}

.section-title {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}
