@import url("https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171923;
  color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
}

.App {
  max-width: 1600px;
  margin: 0 auto;
}

p {
  font-size: 1.5rem;
}

/* Navigation menu */

.nav-menu {
  background-color: rgba(23, 25, 35, 0.7);
  backdrop-filter: blur(20px) saturate(1.7);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 2rem;
}

.nav-menu .nav-link {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1.2rem;
}

/* Hero section */
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 11rem;
}

.hero-text h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 6rem;
  font-weight: 400;
}

.hero-text h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  font-weight: 400;
}

.hero-text p {
  text-align: center;
  margin: 2rem 0 3rem;
  width: 600px;
}

.section-title {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem 0 1rem;
}

/* Projects */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.projects {
  overflow: hidden;
}

.project-slide {
  animation: 12s slide linear infinite;
  white-space: nowrap;
}

.project-slide:hover {
  animation-play-state: paused;
}

.projects .project-img {
  width: 500px;
  height: 280px;
  margin: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.primary-btn {
  background-color: #fff;
  color: #171923;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* Footer */
.footer-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.footer-ctn .footer-text {
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.footer-ctn .footer-links {
  margin-top: 2rem;
}

.footer-ctn .footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 2rem;
  font-weight: 400;
}
